<div data-sly-use.book="com.adobe.aem.guides.orchard.core.models.Product"></div>

<div style="width:200px;border:2px solid blue;border-radius:15px;padding:5px;height:250px;overflow:hidden;margin:5px;">

	<center><img src="${book.fileReference}" style="width:150px;height:100px;" /></center>
    <div>Book Title :  ${book.bookTitle} </div>
    <div>Book Price :  ${book.bookPrice}   </div>
    <div>Book Description :  ${book.bookDescription}  </div>
    <div>Book Title :  ${book.bookTitle}  </div>
    <div>Author Name :  ${book.authorName}  </div>
    <div>Book Language :  ${book.bookLangauge}  </div>

</div>